@import "tailwindcss";

@theme {
  --color-brand-black: #0a0a0a;
  --color-brand-dark: #121212;
  --color-brand-primary: #6366f1;
  /* Indigo 500 */
  --color-brand-secondary: #8b5cf6;
  /* Violet 500 */
  --color-brand-accent: #a855f7;
  /* Purple 500 */
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to sure everything still looks the same.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

body {
  background-color: var(--color-brand-black);
  color: #ffffff;
  font-family: var(--font-sans);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}